<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Flutter Mapbox</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>flutter_mapbox_example</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1Ijoibmljazk5MiIsImEiOiJjbHJqMnNyancwOXdhMnBxcWRneDRqZDRhIn0.M89AJbBvg8OQEUlpl3Is6w</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to location for navigation.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to location for navigation.</string>  
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
Hi Modassir 

<!-- Here are the keys require for the mapbox integration 
Public key: pk.eyJ1Ijoibmljazk5MiIsImEiOiJjbHJqMnNyancwOXdhMnBxcWRneDRqZDRhIn0.M89AJbBvg8OQEUlpl3Is6w 
Secret key: sk.eyJ1Ijoibmljazk5MiIsImEiOiJjbWs1ZGZkNTgwZnFxM2VzY3p5ZGJjMzNsIn0.z9GJ3vgldogy0cAJ7ThQpg

This is just a temporary secret key that I will remove once the work is complete 

Let me know if there are any issues with this 

Thanks 
Nick -->